[paths]
source =
   src/cbytesparse
   */site-packages/cbytesparse

[run]
branch = true
source =
    cbytesparse
    tests
plugins = Cython.Coverage

[report]
show_missing = true
precision = 2
omit = *migrations*
