name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        # https://help.github.com/articles/virtual-environments-for-github-actions

        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest

        python-version:
          - 3.7
          - 3.8
          - 3.9
          - '3.10'
          - 3.11

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade setuptools pip wheel tox tox-gh-actions

      - name: Test with tox
        run: tox

      - name: Upload coverage.xml
        if: ${{ matrix.platform == 'ubuntu-latest' && matrix.python-version == '3.11' }}
        uses: actions/upload-artifact@v2
        with:
          name: cbytesparse-coverage
          path: coverage.xml
          if-no-files-found: error

      - name: Upload coverage.xml to codecov
        if: ${{ matrix.platform == 'ubuntu-latest' && matrix.python-version == '3.11' }}
        uses: codecov/codecov-action@v1
